* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.myntra_home {
    height: 45px;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    gap: 15px;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav_bar a {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.nav_bar a:hover {
    border-color: #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
    margin-left: 3px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: none;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action_container svg {
    height: 24px;
    width: 24px;
}

.action_container .action_name {
    font-size: 14px;
    margin-top: 2px;
}

/* Main section */
.main-outer {
    padding: 140px 0 60px;
}

.banner_container {
    margin: 40px 0;
}

.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.sale_item {
    width: 250px;
}

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer_column a:hover {
    color: #282c3f;
}

.copyright {
    color: #94969f;
    font-size: 14px;
    text-align: center;
    padding: 16px;
}

.item-image {
    width: 100%;
}

.rating {
    font-size: 12px;
    font-weight: 700;
}

.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.btn-add-bag {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.bag-item-count {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    width: 20px;
    left: 12px;
    top: -5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f16565;
}

.bag-details-container {
    margin-bottom: 16px;
}

.price-header {
    color: #535766;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 16px;
}

.price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #282c3f;
}

.price-item-value {
    float: right;
}

.priceDetail-base-discount {
    color: #03a685;
}

.price-footer {
    color: #3e4152;
    font-weight: 700;
}

.btn-place-order {
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 16px;
    background-color: rgb(255, 63, 108);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.bag-item-container {
    margin-bottom: 8px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    position: relative;
    padding: 12px 12px 0;
}

.item-left-part {
    position: absolute;
    background: rgb(255, 242, 223);
    height: 148px;
    width: 111px;
}

.item-right-part {
    padding-left: 12px;
    position: relative;
    min-height: 148px;
    margin-left: 111px;
    margin-bottom: 12px;
}

.bag-item-img {
    width: 100%;
}

.return-period {
    display: inline-flex;
    font-size: 14px;
    padding-top: 8px;
}

.return-period-days {
    font-weight: 700;
    margin-right: 4px;
}

.delivery-details {
    margin-top: 5px;
    color: #282c3f;
    font-size: 12px;
    letter-spacing: -0.1px;
    margin-bottom: 8px;
    line-height: 15px;
}

.delivery-details-days {
    color: #03a685;
}

.remove-from-cart {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
